/* Bio section starts here */

p {
    font-family: 'Nunito', sans-serif;
}

.container_bio {
    display: flex;
    padding: 5% 20%;
    margin: auto;
}

.container_content {
    text-align: left;
    font-size: 1.3rem;
    line-height: 1.2rem;
}

.container_image {
    padding: 2%;
}

.bio_paragraph {
    padding-top: 3%;
    font-size: 1.2rem;
}

.title {
    text-align: center;
    padding-bottom: 3%;
}

@media only screen and (max-width:768px) {
    .container_bio {
        display: flex;
        flex-direction: column;
    }
}