.heroSection {
    background: url("../images/9011.jpg");
    background-size: cover;
    color: black;
    padding: 7% 5%;
    height: 100vh;
    width: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center center;
}



.container_content_hero {
    text-align: center;
    padding: 7%;
    margin-top: 10%;
}

.content {

    z-index: 2;
}

.photoHero {
    padding: 50px;
}

.title {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}

@media (max-width:600px) {
    .container_content_hero {
        text-align: center;
        margin-top: 60%;
        font-size: 1.3rem;
    }

    .heroSection {
        background: url("../images/9011.jpg");
        background-size: cover;
        padding: 7% 5%;
        height: 100vh;
        width: 100%;
        position: relative;
        background-attachment: fixed;
        background-position: right;
    }
}