/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito:wght@400;700&family=Roboto:wght@400;700&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2rem;
  line-height: 1.3;
}

.main {
  width: 100%;
}

.container {
  height: 100vh;
}

/* Navbar_section starts here */

.wrapper {
  display: flex;
  justify-content: center;
}

.navBar {
  position: absolute;
  z-index: 2;
  margin-bottom: 5%;
  display: flex;
}

.nav_links {
  display: flex;
  list-style: none;
}

.navLinkItem {
  padding: 2rem;
  justify-content: center;
}

.navLinkText {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.navLinkText:hover {
  text-decoration: none;
  color: rosybrown;
  border-bottom: solid 1.2px;
}

.burger {
  display: none;
  justify-content: center;
}

.logo {
  max-width: 4rem;
}

@media only screen and (max-width:768px) {
  .burger {
    display: flex;
  }
  .nav_links {
    display: none;
  }
  .nav_links_active {
    display: flex;
    text-align: center;
    flex-direction: column;
    list-style: none;
    text-transform: uppercase;
    margin: auto;
    padding: 0;
  }
  .navBar {
    flex-direction: column;
  }
  .wrapper_active {
    display: flex;
    justify-content: center;
  }
}

.line1, .line2, .line3 {
  display: block;
  width: 35px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
  z-index: 2;
  position: relative;
}

.button_toggle_menu {
  background-color: transparent;
  border: none;
}

/* Contact section starts here */