/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');




* {
  font-family:'Roboto', sans-serif;
}



.container{
    text-align: center; 
}


   
.heading {
  color:#3C8DAD;
  padding-top: 20px;
}

.heroSection{
  background-color: #F8F3EB;
  padding:5% 0;
}


 

.nav-bar{
  text-align: right;
  padding-left: 80%;
 

}
.nav-links {
  display: flex;
  list-style: none; 
  
}
.nav-link-item {
  padding-left: 2rem;
  
}
.nav-link-text {
  color: black;
  text-decoration: none;
}


