/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');




* {
  font-family:'Roboto', sans-serif;
}



.main {
    text-align: center; 
  padding: 0 !important;
    width: 100%;
    
    
}

.container {
  padding: 0 !important;
  height: 100vh;
}


/* Hero_section starts here */
   


.heroSection{
  background-color:#F9B208;
  color: white;
  padding:7% 5%;
  height: 100vh;
}

.photoHero{
  padding:50px;
  
}


 /* Navbar_section starts here */

.nav-bar{
  
  padding-left: 80%;
  
 

}
.nav-links {
  display: flex;
  list-style: none; 
  text-align: right;

  
}
.nav-link-item {
  padding-left: 2rem;
  
}
.nav-link-text {
  color: white;
  text-decoration: none;
  
}


/* Bio section starts here */

.container_bio{
  background-color: seashell;
  text-align: center;

  padding: 30%;
  height: 100vh;
}

/* Projects section starts here */
.container_projects {
   text-align: center;
   background-color:#F9B208;
color: white;
  padding: 30%;
  height: 100vh;
}


/* Contact section starts here */

.container_contact{
  padding: 30%;
  background-color: seashell;
  text-align: center;
  height: 100vh;
}